
/********************
*
*Author: Robert
*Date: 28.01.2020
*********************/


/*Style all P tags */

span[class~="deck"]{
    color: purple;
}

div[id]{
    background: grey;
}

a[href^="http"]{
    color: pink;
}