
/********************
*
*Author: Robert
*Date: 28.01.2020
*********************/


/*Style all P tags */

h2{
    font-size: 24px;
}

#content-header{
    font-size: 18px;
    color: red;
}

span{
    display: block;
    color: blue;
}

.deck{
    color: red;
}