
/********************
*
*Author: Robert
*Date: 28.01.2020
*********************/


/*Style all P tags */

p, span, a, li{
    color: red;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
}
